<div id=”content”>
<p>Products Page</p>
<%=image_tag(‘1969-camaro-front-valance.jpg’:height=>”60%”,:width=>”60%)%><br>
<%=image_tag(‘Camaro Booster.jpg’:height=>”60%”,:width=>”60%)%><br>
<%=image_tag(‘Camaro Brake Hardware Kit.jpg’:height=>”60%”,:width=>”60%)%><br>
<%=image_tag(‘Camaro Front Disc Brake Conversion Kit.jpg’:height=>”60%”,:width=>”60%)%><br>
<%=image_tag(‘Chevelle Radiator Hose Kits.jpg’:height=>”60%”,:width=>”60%)%><br>
<%=image_tag(‘Chevelle switches.jpg’:height=>”60%”,:width=>”60%)%><br>
<%=image_tag(‘Chevrolet Water Pump Rebuild Kit.png’:height=>”60%”,:width=>”60%)%><br>
<%=image_tag(‘Corvette Heat Riser.jpg’:height=>”60%”,:width=>”60%)%><br>
<%=image_tag(‘Falcon Distributor Vacuum Line.jpg’:height=>”60%”,:width=>”60%)%><br>
<%=image_tag(‘Mustang Master Cylinder Line Kit.jpg’:height=>”60%”,:width=>”60%)%><br>
<%=image_tag(‘Rear Brake Hose.jpg’:height=>”60%”,:width=>”60%)%>
</div>
